<div class="jumbotron">
  <h1 class="display-4 text-center">Welcome to EventClub!</h1>
  <p class="lead text-center">Discover world with us. We organize events of all categories. </p>
  <hr class="my-4">
  <p class="lead text-center">
    <a class="btn btn-primary btn-lg" href="/events" role="button">Visit Events</a>
  </p>
</div>